/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito');

/**

 MEDIA QUERIES
 Allows responsive design through the targeting
 of following widths using media queries.
 Small-Medium Mobile: 320px-375px,
 Large Mobile: 425px,
 Tablet: 768px,
 Split screen: 900-960px,
 Laptops: 1024px & 1280px & 1366,
 Desktop: 1440+px.

**/
/* Large Desktop */
@media screen and (min-width: 1440px)
  h1
    font-size 8em !important
  h2
    font-size 3.6em !important
  .dropdown
    display inline-flex !important
    text-align center
    margin-left 1.5%
    font-size 1.5em
    .search-box,#language-button
      margin 0 0.5em 0 0.5em
    .search-box,#language-button,#search-input
      height 80px !important
  .dropdown-item
    font-size 2em !important
  .dropdown-menu
    left 48em !important
    min-width 19rem !important
    margin-top 0.6em !important
  .search-box
    min-width 80% !important
    max-width 80% !important
    padding 0 !important
  #candidates_table > thead > tr > th
    font-size 2.7em
  #candidates_table > tbody > tr > td
    font-size 2.5em
  #language-button
    font-size 1.9em
    min-width 33% !important
    max-width 33%
    margin 0
    min-height 60px
  #search-input
    font-size 1.8em !important

/* Desktops */
@media (min-width 1280px) and (max-width 1439px)
  h1
    font-size 8em !important
  h2
    font-size 3.6em !important
  .dropdown
    display inline-flex !important
    text-align center
    margin-left 1.5%
    font-size 1.5em
    .search-box,#language-button
      margin 0 0.5em 0 0.5em
    .search-box,#language-button,#search-input
      height 80px !important
  .dropdown-item
    font-size 2em !important
  .dropdown-menu
    left 48em !important
    min-width 19rem !important
    margin-top 0.6em !important
  .search-box
    min-width 80% !important
    max-width 80% !important
    padding 0 !important
  #candidates_table > thead > tr > th
    font-size 2.7em
  #candidates_table > tbody > tr > td
    font-size 2.5em
  #language-button
    font-size 1.9em
    min-width 33% !important
    max-width 33%
    margin 0
    min-height 60px
  #search-input
    font-size 1.8em !important

/* Laptops */
@media (min-width 1025px) and (max-width: 1280px)
  h1
    font-size 6.5em !important
  h2
    font-size 3.6em !important
  .dropdown
    display inline-flex !important
    text-align center
    margin-left 1.5%
    .search-box, #language-button
      margin 0 0.5em 0 0.5em
    .search-box, #language-button, #search-input
      height 75px !important
  .dropdown-item
    font-size 1.5em !important
  .dropdown-menu
    left 42em !important
    min-width 14rem !important
    margin-top 0.6em !important
  .search-box
    min-width 100% !important
    max-width 100% !important
    padding 0 !important
  #candidates_table > thead > tr > th
    font-size 2.7em
  #candidates_table > tbody > tr > td
    font-size 2.5em
  #language-button
    font-size 1.9em
    min-width 35% !important
    max-width 35%
    min-height 60px
    margin 0
  #search-input
    font-size 1.8em !important
@media screen and (max-width: 1024px)
  h1
    font-size 6.5em !important
  h2
    font-size 3.6em !important
  .dropdown
    display inline-flex !important
    text-align center
    margin-left 1.5%
    .search-box, #language-button
      margin 0 0.5em 0 0.5em
    .search-box, #language-button, #search-input
      height 75px !important
  .dropdown-item
    font-size 1.5em !important
  .dropdown-menu
    left 42em !important
    min-width 14rem !important
    margin-top 0.6em !important
  .search-box
    min-width 100% !important
    max-width 100% !important
    padding 0 !important
  #candidates_table > thead > tr > th
    font-size 2.7em
  #candidates_table > tbody > tr > td
    font-size 2.5em
  #language-button
    font-size 1.9em
    min-width 35% !important
    max-width 35%
    min-height 60px
    margin 0
  #search-input
    font-size 1.8em !important

/* Split Screen */
@media (min-width 900px) and (max-width 992px)
  h1
    font-size 5.1em !important
  .dropdown
    margin 0 !important
    .search-box, #language-button, #search-input
      height 60px !important
  .dropdown-menu
    left 35em !important
    min-width 11rem !important
    margin-top 0.6em !important
  .search-box
    font-size 0.9em !important
    margin-left 0 !important
  #language-button
    font-size 1.5em !important
  #search-input
    font-size 1.7em !important

/* Tablet */
@media (min-width 768px) and (max-width 900px)
  h1
    font-size 4.7em !important
  h2
    font-size 2.6em !important
  .dropdown
    display inline-flex
    text-align center
    margin-left 0
    .search-box, #language-button
      margin 0 0.5em 0 0.5em
    .search-box, #language-button, #search-input
      height 60px !important
  .dropdown-item
    font-size 1.5em !important
  .dropdown-menu
    left 28.7em !important
    min-width 14rem !important
    margin-top 0.4em !important
  .search-box
    margin 0 !important
    min-width 70% !important
    max-width 70% !important
    padding 0 !important
  #candidates_table > thead > tr > th
    font-size 2.2em
  #candidates_table > tbody > tr > td
    font-size 2em
  #language-button
    font-size 2em !important
    min-height 60px
    max-width 35%
    margin 0
  #search-input
    font-size 1.8em !important

/* Mobile to Tablet gap */
@media (min-width 426px) and (max-width 767px)
  h1
    font-size 4.7em !important
  h2
    font-size 2.6em !important
  .dropdown
    display inline-flex
    text-align center
    margin-left 0
    .search-box, #language-button
      margin 0 0.5em 0 0.5em
    .search-box, #language-button, #search-input
      height 60px !important
  .dropdown-item
    font-size 1.5em !important
  .dropdown-menu
    left 20em !important
    min-width 9rem !important
    margin-top 0.4em !important
  .search-box
    margin 0 !important
    min-width 60% !important
    max-width 60% !important
    padding 0 !important
  #candidates_table > thead > tr > th
    font-size 2.2em
  #candidates_table > tbody > tr > td
    font-size 2em
  #language-button
    font-size 1.4em !important
    min-height 60px
    max-width 35%
    margin 0
  #search-input
    font-size 1.4em !important

/* Large Mobile */
@media screen and (max-width 425px)
  h1
    font-size 2.7em !important
  .dropdown
    display inline-block !important
    .search-box, #language-button
      margin 0 0 0.5em 0 !important
  .dropdown-item
    font-size 1.5em !important
  .dropdown-menu
    left 0.5em !important
    min-width 21.75rem !important
    margin-top 0 !important
  .search-box
    margin 0 !important
    min-width 100% !important
    max-width 10% !important
    padding 0 !important
    margin-bottom 1em !important
  #candidates_table > thead > tr > th
    font-size 2em
  #candidates_table > tbody > tr > td
    font-size 1.8em
  #language-button
    font-size 1.8em !important
    min-width 100% !important
  #search-input
    font-size 1.8em !important

/* Mobile */
@media screen and (max-width 375px)
  h2
    font-size 2em !important
  .dropdown-item
    font-size 1.4em
  .dropdown-menu
    min-width 18.6rem !important
  #candidates_table > thead > tr > th
    font-size 1.6em
  #candidates_table > tbody > tr > td
    font-size 1.4em
  #language-button
    font-size 1.6em !important
  #search-input
    font-size 1.4em !important

/* Small Mobile */
@media screen and (max-width 320px)
  .dropdown-menu
    min-width 15.2rem !important


/**
 GLOBAL SETTINGS
 CSS that will be used regardless of device resolution.
**/
*
  font-family 'Nunito', SansSerif !important
body
  background-color #fff
h1
  text-align center !important
  color #fff !important
h2
  margin-left 10px
.candidates
  th
    font-size 16px
    font-weight 600
    color #039
    padding 10px 8px
    border-bottom 2px solid #6678b1
  td
    color #669
  tbody > tr:hover > td
    color #009
.dropdown
  display inline-block
  text-align center
.dropdown-menu
  text-align center !important
.fa-search
  font-family 'Font Awesome 5 Free' !important
.jumbotron
  margin-bottom 0 !important
  background-color #212121 !important
  border-radius 0 !important
#search-input
  min-height 60px